pipeline/CosmosTruncateAndRecreate_Polling.json
{
  "name": "CosmosTruncateAndRecreate_Polling",
  "properties": {
    "folder": {
      "name": "CosmosOps"
    },
    "parameters": {
      "subscriptionId": {
        "type": "String"
      },
      "resourceGroupName": {
        "type": "String"
      },
      "accountName": {
        "type": "String"
      },
      "databaseName": {
        "type": "String"
      },
      "containerName": {
        "type": "String"
      },
      "location": {
        "type": "String",
        "defaultValue": "West Europe"
      },
      "partitionKeyPath": {
        "type": "String",
        "defaultValue": "/pk"
      },
      "manualRU": {
        "type": "Int",
        "defaultValue": 400
      },
      "defaultTtl": {
        "type": "Int",
        "defaultValue": 0
      },
      "indexingPolicyJson": {
        "type": "String",
        "defaultValue": "{\"indexingMode\":\"consistent\",\"automatic\":true,\"includedPaths\":[{\"path\":\"/*\",\"indexes\":[{\"kind\":\"Range\",\"dataType\":\"String\",\"precision\":-1},{\"kind\":\"Range\",\"dataType\":\"Number\",\"precision\":-1}]}],\"excludedPaths\":[]}"
      }
    },
    "variables": {
      "isDeleted": {
        "type": "Boolean",
        "defaultValue": false
      }
    },
    "activities": [
      {
        "name": "DeleteContainer",
        "type": "WebActivity",
        "dependsOn": [],
        "policy": {
          "timeout": "00:10:00",
          "retry": 3,
          "retryIntervalInSeconds": 20,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "url": "@concat(@concat('https://management.azure.com/subscriptions/', pipeline().parameters.subscriptionId,'/resourceGroups/', pipeline().parameters.resourceGroupName,'/providers/Microsoft.DocumentDB/databaseAccounts/', pipeline().parameters.accountName,'/sqlDatabases/', pipeline().parameters.databaseName), '/containers/', pipeline().parameters.containerName, '?api-version=2025-04-15')",
          "method": "DELETE",
          "headers": {
            "Content-Type": "application/json"
          },
          "authentication": {
            "type": "ManagedIdentity",
            "resource": "https://management.azure.com/"
          }
        }
      },
      {
        "name": "PollUntilDeleted",
        "type": "Until",
        "dependsOn": [
          {
            "activity": "DeleteContainer",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "expression": {
            "value": "@equals(variables('isDeleted'), true)",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "ListContainers",
              "type": "WebActivity",
              "dependsOn": [],
              "policy": {
                "timeout": "00:02:00",
                "retry": 1,
                "retryIntervalInSeconds": 10,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "url": "@concat(@concat('https://management.azure.com/subscriptions/', pipeline().parameters.subscriptionId,'/resourceGroups/', pipeline().parameters.resourceGroupName,'/providers/Microsoft.DocumentDB/databaseAccounts/', pipeline().parameters.accountName,'/sqlDatabases/', pipeline().parameters.databaseName), '/containers?api-version=2025-04-15')",
                "method": "GET",
                "headers": {
                  "Content-Type": "application/json"
                },
                "authentication": {
                  "type": "ManagedIdentity",
                  "resource": "https://management.azure.com/"
                }
              }
            },
            {
              "name": "SetIsDeleted",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "ListContainers",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "variableName": "isDeleted",
                "value": "@not(contains(string(activity('ListContainers').output), concat('\"name\":\"', pipeline().parameters.containerName, '\"')))"
              }
            },
            {
              "name": "Sleep5s",
              "type": "Wait",
              "dependsOn": [
                {
                  "activity": "SetIsDeleted",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "waitTimeInSeconds": 5
              }
            }
          ],
          "timeout": "00:10:00"
        }
      },
      {
        "name": "CreateContainer",
        "type": "WebActivity",
        "dependsOn": [
          {
            "activity": "PollUntilDeleted",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "00:10:00",
          "retry": 5,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "url": "@concat(@concat('https://management.azure.com/subscriptions/', pipeline().parameters.subscriptionId,'/resourceGroups/', pipeline().parameters.resourceGroupName,'/providers/Microsoft.DocumentDB/databaseAccounts/', pipeline().parameters.accountName,'/sqlDatabases/', pipeline().parameters.databaseName), '/containers/', pipeline().parameters.containerName, '?api-version=2025-04-15')",
          "method": "PUT",
          "headers": {
            "Content-Type": "application/json"
          },
          "body": "@concat('{','\"location\":\"', pipeline().parameters.location, '\",','\"properties\":{','\"resource\":{','\"id\":\"', pipeline().parameters.containerName, '\",','\"partitionKey\":{','\"paths\":[\"', pipeline().parameters.partitionKeyPath, '\"],','\"kind\":\"Hash\"','},','\"indexingPolicy\":', pipeline().parameters.indexingPolicyJson, ',','\"defaultTtl\":', string(pipeline().parameters.defaultTtl),'},','\"options\":{','\"throughput\":', string(pipeline().parameters.manualRU),'}','}','}')",
          "authentication": {
            "type": "ManagedIdentity",
            "resource": "https://management.azure.com/"
          }
        }
      }
    ],
    "annotations": []
  }
}