pipeline/CosmosTruncateAndRecreate_Polling.json
{
	"name": "CosmosTruncateAndRecreate_Polling",
	"properties": {
		"activities": [
			{
				"name": "DeleteContainer",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "00:10:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "DELETE",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@concat(@concat('https://management.azure.com/subscriptions/', pipeline().parameters.subscriptionId,'/resourceGroups/', pipeline().parameters.resourceGroupName,'/providers/Microsoft.DocumentDB/databaseAccounts/', pipeline().parameters.accountName,'/sqlDatabases/', pipeline().parameters.databaseName), '/containers/', pipeline().parameters.containerName, '?api-version=2025-04-15')",
						"type": "Expression"
					},
					"authentication": {
						"type": "ManagedIdentity",
						"resource": "https://management.azure.com/"
					}
				}
			},
			{
				"name": "PollUntilDeleted",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "DeleteContainer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('isDeleted'), true)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ListContainers",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "00:02:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"Content-Type": "application/json"
								},
								"url": {
									"value": "@concat(@concat('https://management.azure.com/subscriptions/', pipeline().parameters.subscriptionId,'/resourceGroups/', pipeline().parameters.resourceGroupName,'/providers/Microsoft.DocumentDB/databaseAccounts/', pipeline().parameters.accountName,'/sqlDatabases/', pipeline().parameters.databaseName), '/containers?api-version=2025-04-15')",
									"type": "Expression"
								},
								"authentication": {
									"type": "ManagedIdentity",
									"resource": "https://management.azure.com/"
								}
							}
						},
						{
							"name": "SetIsDeleted",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ListContainers",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "isDeleted",
								"value": {
									"value": "@not(contains(string(activity('ListContainers').output), concat('\"name\":\"', pipeline().parameters.containerName, '\"')))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Sleep5s",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "SetIsDeleted",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 5
							}
						}
					],
					"timeout": "00:10:00"
				}
			},
			{
				"name": "CreateContainer",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "PollUntilDeleted",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "00:10:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@concat(@concat('https://management.azure.com/subscriptions/', pipeline().parameters.subscriptionId,'/resourceGroups/', pipeline().parameters.resourceGroupName,'/providers/Microsoft.DocumentDB/databaseAccounts/', pipeline().parameters.accountName,'/sqlDatabases/', pipeline().parameters.databaseName), '/containers/', pipeline().parameters.containerName, '?api-version=2025-04-15')",
						"type": "Expression"
					},
					"body": {
						"value": "@concat('{','\"location\":\"', pipeline().parameters.location, '\",','\"properties\":{','\"resource\":{','\"id\":\"', pipeline().parameters.containerName, '\",','\"partitionKey\":{','\"paths\":[\"', pipeline().parameters.partitionKeyPath, '\"],','\"kind\":\"Hash\"','},','\"indexingPolicy\":', pipeline().parameters.indexingPolicyJson, ',','\"defaultTtl\":', string(pipeline().parameters.defaultTtl),'},','\"options\":{','\"throughput\":', string(pipeline().parameters.manualRU),'}','}','}')",
						"type": "Expression"
					},
					"authentication": {
						"type": "ManagedIdentity",
						"resource": "https://management.azure.com/"
					}
				}
			}
		],
		"parameters": {
			"subscriptionId": {
				"type": "String",
				"defaultValue": "1b577885-b584-4e83-86af-fd5a5da1aaf9"
			},
			"resourceGroupName": {
				"type": "String",
				"defaultValue": "rg-rf-aai-001"
			},
			"accountName": {
				"type": "String",
				"defaultValue": "rf-cosmosdb-acc"
			},
			"databaseName": {
				"type": "String",
				"defaultValue": "TreesDB"
			},
			"containerName": {
				"type": "String",
				"defaultValue": "Trees"
			},
			"location": {
				"type": "String",
				"defaultValue": "UK West"
			},
			"partitionKeyPath": {
				"type": "String",
				"defaultValue": "/pk"
			},
			"manualRU": {
				"type": "Int",
				"defaultValue": 400
			},
			"defaultTtl": {
				"type": "Int",
				"defaultValue": 0
			},
			"indexingPolicyJson": {
				"type": "String",
				"defaultValue": {
					"indexingMode": "consistent",
					"automatic": true,
					"includedPaths": [
						{
							"path": "/*",
							"indexes": [
								{
									"kind": "Range",
									"dataType": "String",
									"precision": -1
								},
								{
									"kind": "Range",
									"dataType": "Number",
									"precision": -1
								}
							]
						}
					],
					"excludedPaths": []
				}
			}
		},
		"variables": {
			"isDeleted": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "CosmosOps"
		},
		"annotations": []
	}
}